.app{
	border-right: 100px solid var(--color-text);
}

.container {
	background-color: var(--color-primary);
	height: 60px;
	color: var(--color-text);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 20px;
	font-size: 30px;
}

.container#header-brand{
	font-family: Roboto;
	display: flex;
	align-items: center;
	padding: 0 40px;
}

ul {
	list-style: none;
	padding-left: 70px;
}

li {
	display: inline;
	padding: 0 10px;
}

.headerLink {
	text-decoration: none;
	transform: opacity 0.2s;
	font-size: 23px;
}

.headerLink:hover{
	opacity: 0.8;
}

::placeholder {
	color: var(--color-text);
	opacity: 0.8;
	text-align: left;
}

.searchBar {
	background-color: var(--color-search-form);
	font-family: Roboto;
	color: var(--color-text);
	font-size: 17px;
	font-weight: bold;
	width: 25%;
	height: 35px;
	border-radius: 0.5em;
	border: none;
	text-indent: 25px;
}



@media (max-width: 800px) {
	.searchBar {
		display: none;
	}
}
